<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Waiter's Availability App</title>
    <link rel="shortcut icon" href="./images/" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Calligraffitti" />
    <link rel="stylesheet" href="/css/utils.css" />
    <link rel="stylesheet" href="/css/style-admin.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/9a9a378fa5.js" crossorigin="anonymous"></script>

    <script src="./js/script.js" defer></script>
</head>

<body>
    <section class="header">
        <div id="header" class="container">

            <a href="#"><strong>Waiter's Availability App</strong></a>

            <div>
                <ul id="navbar">
                    <li><a href="/">Home</a></li>
                    <a href="#" id="close"><i class="fa-solid fa-xmark"></i></a>
                </ul>
            </div>

            <div id="mobile">
                <i id="bar" class="fa-solid fa-align-right"></i>
            </div>
        </div>
    </section>


    <section class="showcase">


        <div class="row">
            <section class="period">
                <div class="the-periods">
                    <div class="table-periods">
                        <h2 class="title">WAITER'S WEEKLY SCHEDULE</h2>
                        <div class="user-info">
                            {{#each user}}
                            <h3 class="title">You're logged in as:{{username}}</h3>
                            {{/each}}
                        </div>
                        <div class="waiterlist" >
                             
                              <form action="/waitername" method="post">
                              
                                <select name="waiter" class="drop">
                                    {{!-- <select class="form-control" id="search" name="search" value="search"
                                        onchange="this.form.submit()"> --}}
                                        <option href="/expenses">Waiter</option>
                                     
                                          {{#each waiterNames}}
                                        <option value="{{waiter_name}}">{{waiter_name}}</option>
                                        {{/each}}
                                      
                                    </select>
                                    <button type="submit" class="fa fa-trash"></button>
                            </form>
                        </div>
                         

                        <table id="display" class="styled-table">
                          
                            <thead>
                                <tr>
                                    {{#each Addcolor}}
                                    <th class="{{color}}" value="{{id}}">{{shifts}}</th>
                                    {{/each}}
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        {{#each Sunday}}
                                        <a href="/waiters/{{this}}">{{this}}</a>
                                        <br><br>
                                        {{/each}}
                                    </td>
                                    <td>
                                        {{#each Monday}}
                                        <a href="/waiters/{{this}}" name="waiter" value="{{this}}">{{this}}</a>
                                        <br><br>
                                        {{/each}}
                                    </td>
                                    <td>
                                        {{#each Tuesday}}
                                        <a href="/waiters/{{this}}" name="waiter" value="{{this}}">{{this}}</a>
                                        <br><br>
                                        {{/each}}
                                    </td>

                                    <td>
                                        {{#each Wednesday}}
                                        <a href="/waiters/{{this}}" name="waiter" value="{{this}}">{{this}}</a>
                                        <br><br>
                                        {{/each}}
                                    </td>
                                    <td>
                                        {{#each Thursday}}
                                        <a href="/waiters/{{this}}" name="waiter" value="{{this}}">{{this}}</a>
                                        <br><br>
                                        {{/each}}
                                    </td>
                                    <td>
                                        {{#each Friday}}
                                        <a href="/waiters/{{this}}" name="waiter" value="{{this}}">{{this}}</a>
                                        <br><br>
                                        {{/each}}
                                    </td>
                                    <td>
                                        {{#each Saturday}}
                                        <a href="/waiters/{{this}}" name="waiter" value="{{this}}">{{this}}</a>
                                        {{/each}}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>


                </div>
            </section>




        </div>
        <form action="/reset" method="GET">
            <button class="btn myBtn m-1" type="submit" name="button">Reset</button>
        </form>


        <ul class="legend">
            <li><span class="yellowdot"></span>Less than 3 waiter's available</li><br></br>
            <li><span class="greendot"></span>Enough waiters available for the day</li><br></br>
            <li><span class="reddot"></span>Exceeded threshold of 3 waiter's</li><br></br>
        </ul>





    </section>

    </div>

    <div class="errors">
        <span>{{messages.error}}</span>
    </div>

    <script src="/public/js/modal.js"></script>

</body>

</html>